fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
pymysql
cryptography
langgraph
alembic
opencv-python-headless
numpy
python-multipart
stripe
requests
passlib[bcrypt]
python-jose[cryptography]
email-validator
bcrypt

ultralytics<=8.3.40
supervision
roboflow
requests
python-multipart
inference-sdk
