fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
pymysql
cryptography
langgraph
alembic
opencv-python-headless
numpy
python-multipart
stripe
requests
cv2
passlib[bcrypt]
python-jose[cryptography]
email-validator
bcrypt
